body{
    margin:0;
    font-family: 'Times New Roman', Times, serif;
}

/******* DropDown lists******/
.container{
    border: 1px solid rgb(247, 246, 246);
    border-radius: 10px;
    width: 500px;
    margin-left: 300px;
    display: flex;
    flex-flow: column;
    position: absolute;
    height: 150px;
    overflow-y: scroll;
    border-bottom: #6e6e68;
}
.options{
    padding:8px;
    cursor: pointer;
    background-color: white;

}
.options:hover{
    background-color: #8d8d89;
}



/***AddNames in the box***/
.Addingbox{
    display: flex;
    flex-wrap: wrap;
    margin-left: 300px;
    margin-top: 170px;
    width: 500px;
    max-width: 50%;
    overflow:scroll ;
    overflow-x: hidden;
    overflow-y: hidden;
    
    padding-left: 14px;
    border-radius: 5px;
  
    border: 2px solid rgb(53, 141, 241);
    background-color: white;
  }
      
.Addingbox input {
    width: 50%;
    min-width: 50%;
    border: none;
    border-radius: 5px;
    padding: 14px;
    padding-left: 14px;
    outline: none;
  }
.Addvalue{
    display: flex;
    align-items: center;
    align-content: center;
    margin: 5px 0;
    margin-right: 5px;
    cursor: pointer;
    padding-right: 5px;
    border: 1px solid #757575;
    border-radius: 5px;
    background-color: #6291e9;
    white-space: nowrap;
    color: black;
    }
.windowcloseicon {
        display: flex;
        padding: 2px;
        border: none;
        cursor: pointer;
        color: black;
}    
    


.Downarrow{
    width:20px;
    height: 20px;
    position: absolute;
    right:580px;
    margin-top: 10px;
    border: none;
    outline: none;
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;

}

.fa{
    font-size: 12px;
   
}
span{
    margin-left: 920px;
    margin-top: 14px;
    position: absolute;
   
}
.CloseIcon{

    height: 20px;

    background-color: transparent;
    border: none;
    position: absolute;
    top: 152px;
    right: 155px;
    cursor: pointer;
}
#fig{
    font-size: 20px;
    font-weight: 600;
    color:#6e6e68;
}
 #fig1{
    font-size: 15px;
    font-weight: 0;
    color: #6e6e68;
}
#fig2{
    font-size: 22px;
    align-items: center;
    cursor: pointer;
   color: teal;
}