
.container{
    display: flex;
    flex-direction: column;
    cursor: default;
    
    width: 500px;
}
/* .value{
    
    padding: 10px;
} */
.value{
    padding:10px;
    
    background-color: white;
    border-bottom: 1px solid rgb(145, 144, 144);

}
.value:hover{
    background-color: gray;
    color: honeydew;
}
input[type="text"]{
    align-items: center;
    width: 500px;
    height: 40px;
    margin-top: 30px;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(248, 91, 91);
    color: rgb(245, 238, 238);
}
.button{
    display: flex;
    padding: 10px;
    border: none;
    width: 530px;
    
    cursor: pointer;
}
.b2{
    width:20px;
    height: 43px;
    

}

.addValue{
    border: 1px solid rgb(211, 130, 65);
    margin-right:10px ;
    border-radius: 5px;
    height: 20px;
    color: white;
    background-color: rgb(27, 27, 27);
    

}
.totalbox{
display: flex;
flex-direction: row;
position: absolute;
/* left: 460px; */
top:105px;
margin-left: 10px;
list-style: none;
font-size: 12px;
}
.button2{
    width: 5px;
    
}
.close{
   
    border-radius: 10px;
    width: 10px;display: flex;
    flex-direction: row;
    
}
.fa{
    font-size: 10px;
   
}
.card{
    display: flex;
    flex-direction: column;
    width:100px;
    height:100px;
}